#AddDefaultCharset UTF-8
#DirectoryIndex index.php index.html
#

RewriteEngine on

RewriteCond %{REQUIEST_FILENAME} !-f
RewriteCond %{REQUIEST_FILENAME} !-d

RewriteCond %{REQUEST_METHOD} (PUT|POST|GET|DELETE)

RewriteRule . index.php

